### RUN-SPECIFIC HEADER MATERIAL ######
###!/bin/bash
### Create Array of Run Directories
### run_dirs=("run_dir_1" "run_dir_2" "run_dir_3")

# loop through dirs and submit
for dir in "${run_dirs[@]}"; do
    job_name="${dir##*_}"
    output_file="$dir.out"

sbatch --time=10080 \
       --job-name="$job_name" \
       --output="$output_file" \
       --chdir="$dir" \
       --ntasks=1\
       --cpus-per-task=8\
       --mail-user=coastesthydro@gmail.com \
       --mail-type=BEGIN,END,FAIL       \
       mpirun -n 8 ../../../software/funwave/funwave--mpiifort-parallel-double input.txt

done