### RUN-SPECIFIC HEADER MATERIAL ######
###!/bin/bash
### Create Array of Run Directories
### run_dirs=("run_dir_1" "run_dir_2" "run_dir_3")

rootDir=$(pwd)
# loop through dirs and submit
for dir in "${run_dirs[@]}"; do
    job_name="${dir##*_}"
    output_file="$dir.out"
    cd "${rootDir}/${dir}"
        mpirun -n 8 ~/git/funwave/software/belegaer-work/funwave-DOUBLE_PRECISION-PARALLEL-MIXING-SAMPLES--mpif90-parallel-double input.txt > ${output_file} 2>&1 &
    cd "${rootDir}"
done